# The URL to the API endpoint !!!*WITHOUT* TRAILING SLASH!!!
# This might include the port. Check your IP with 'ipconfig' on windows or 'ifconfig' on linux
EXPO_PUBLIC_API_URL=http://172.16.17.33:8080