# This ENV is for the compose.yml file

# MySQL configuration
MYSQL_ROOT_PASSWORD=orariaperti_root_pw
MYSQL_DATABASE=orariaperti
MYSQL_USER=orariaperti_user
MYSQL_PASSWORD=orariaperti_pw
MYSQL_PORT=3306

# Backend configuration
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=true
SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL=true
SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT=org.hibernate.dialect.MySQLDialect
SPRING_APPLICATION_NAME=OrariAperti
BACKEND_PORT=8080
