.nav-logo {
  width: auto;
  height: 2.6rem;
  position: relative;
  object-fit: contain;
}

::selection {
  background: #7e22fe6b;
  color: #000;
}

::selection.dark {
  background: #7e22fe6b;
  color: #fff;
}
