spring.application.name=OrariAperti
# Database Configuration
spring.datasource.url=jdbc:mysql://localhost:3306/orariaperti
spring.datasource.username=INSERT_YOUR_DATABASE_USERNAME
spring.datasource.password=INSERT_YOUR_DATABASE_PASSWORD
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

# JPA Configuration
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQLDialect

# CORS and Redirect Configuration
frontend.url=http://localhost:3000
